*{
    background-color: #c5d9e9;
}

h1{
    font-weight: 8600;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.koala-echec{
    margin-top: 150px;
  }

.button{
   
    padding: 10px;
    background-color: rgb(128, 165, 196);
    margin-top: 3px;
    border: 1px solid rgb(87, 120, 148);
    border-radius: 10px;

}